<div class="ui sidebar vertical menu">
  <%= render partial: 'list', locals: { notes: @notes } %>
</div>
<div class="pusher">
  <div class="ui main container">
    <div class="row" style="margin-bottom: 1rem;">
      <%= link_to '#', class: 'ui large label', data: { notes_opener: true } do %>
        <i class="mail icon"></i><%= @notes.size %>
      <% end -%>
      <%= link_to new_note_url, class: 'ui large label' do %>
        <i class="plus icon"></i>New
      <% end -%>
    </div>
    <div class="ui form">
      <%= render partial: 'form', locals: { note: @note } %>
    </div>
  </div>
</div>
