<div id="chunk-form-container" class="chunk-area">
  <%= render partial: 'chunks/form', locals: { chunk: @page.chunk } %>
</div>
<div style="margin-top: 1.0rem;">
  <%= link_to '#', remote: true, class: 'ui tiny icon button left floated' do %>
    <i class="arrow trash icon"></i>
  <% end -%>
  <span id="state-anchor" class="ui left floated"></span>
  <div class="ui tiny icon buttons right floated">
    <%= link_to '#', remote: true, class: 'ui button' do %>
      <i class="arrow down icon"></i>
    <% end -%>
    <%= link_to '#', remote: true, class: 'ui button' do %>
      <i class="arrow right icon"></i>
    <% end -%>
    <%= link_to '#', remote: true, class: 'ui button' do %>
      <i class="arrow up icon"></i>
    <% end -%>
    <%= link_to '#', remote: true, class: 'ui button' do %>
      <i class="arrow left icon"></i>
    <% end -%>
  </div>
</div>
