<%= form_for chunk, url: pages_path, remote: true, method: :post, html: { class: 'ui form chunk-form' } do |f| %>
  <%= f.hidden_field :gpid %>
  <%= f.hidden_field :gcid, id: nil %>
  <%= f.hidden_field :number, id: nil %>
  <div class="ui field">
    <%= f.text_area :content, rows: 1, id: nil, class: 'content', data: { auto_save: true }, autofocus: true %>
  </div>
<% end -%>
