<%= form_for @command, remote: true, html: { class: 'ui form' } do |f| %>
  <div class="ui field">
    <%= f.text_area :content, rows: 22, class: 'content', data: { auto_save: true } %>
  </div>
  <div id="state" class="ui label" style="display: none;"><i class="cloud upload icon"></i> Saved.</div>
  <div class="ui mini icon basic buttons right floated">
    <%= link_to '#', remote: true, class: 'ui button' do %><i class="arrow down icon"></i><% end -%>
    <%= link_to '#', remote: true, class: 'ui button' do %><i class="arrow right icon"></i><% end -%>
    <%= link_to '#', remote: true, class: 'ui button' do %><i class="arrow up icon"></i><% end -%>
    <%= link_to '#', remote: true, class: 'ui button' do %><i class="arrow left icon"></i><% end -%>
  </div>
<% end -%>
