<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="nav-header">
      <%= link_to root_url, class: 'navbar-brand' do -%>
        <div class="brand-logo">Chomen</div>
      <% end -%>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <%= render partial: 'pages/list', locals: { pages: @pages } %>
        </li>
        <li>
          <%= link_to new_page_url do %>
            <%= fa_icon('pencil-square-o') %>
          <% end -%>
        </li>
        <li>
          <%= link_to new_chunk_url(gpid: @page.gpid), remote: true, id: 'chunk-adder' do %>
            <%= fa_icon('plus-circle') %>
          <% end -%>
        </li>
      </ul>
    </div>
  </div>
</div>
