<!DOCTYPE html>
<html>
<head>
  <title>Chomen</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="page-list" class="ui sidebar vertical menu">
    <%= render partial: 'pages/list', locals: { pages: @pages } %>
  </div>
  <div class="pusher">
    <div class="ui one column grid container">
      <div class="column">
        <%= render partial: 'layouts/menu', locals: { page_size: @pages.size } %>
      </div>
      <div class="sixteen wide column main">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
